/* Centraliza o ícone e nome ao lado direito */
.adjust-container {
    display: flex;
    justify-content: flex-end; /* Move o conteúdo para a direita */
    align-items: center;
    margin-top: 20px;
    color: #000000;
}

/* Estilização do ícone e nome */
.adjust-icon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px; /* Espaço entre o nome e o ícone */
    margin-right: 10px;
    
}

/* Esconde a seção inicialmente */
.buttons-section {
    display: none;
    margin-top: 10px;
}




/* Estilos básicos */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4; /* Fundo suave */
    color: #d65a00; /* Texto escuro para melhor legibilidade */
    margin: 0;
    padding: 5px; /* Espaçamento ao redor do conteúdo */
}


h1 {
    text-align: center;
    color: #d65a00; /* Cor mais escura e chique para títulos */
    
   
}


h2 {
    text-align: left;
    color: #3c3c56; /* Cor mais escura e chique para títulos */
    border-bottom: 2px solid #3c3c56;
    margin-bottom: 20px;
}



h5 {
    text-align: center;
    color: #848586; /* Cor mais escura e chique para títulos */
    
}





/* Estilos do modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo mais escuro e suave */
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px; /* Bordas arredondadas */
    width: 80%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
}

.close {
    color: #000000; /* Cor do botão de fechar */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #e74c3c; /* Cor ao passar o mouse */
    text-decoration: none;
    cursor: pointer;
}

/* Grade para capítulos */
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.grid label {
    text-align: center;
    display: block;
    background-color: #d65a00; /* Fundo da grade */
    color: #fff; /* Texto claro */
    padding: 10px;
    border-radius: 0px; /* Bordas arredondadas */
    transition: background-color 0.3s;
    
}

.grid label:hover {
    background-color: #ac4700; /* Cor ao passar o mouse */
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #d65a00;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0px; /* Bordas arredondadas */
}

button:hover {
    background-color: #ac4700;

}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #888;
}

.tabela {
            display: none; /* Oculta as tabelas por padrão */
        }

        .bible-container {
            display: left;
            justify-content: space-between;
            padding: 5px;
            flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
            
        }
        
        .section {
            display: flex;
            flex-direction: column;
            align-items: left;
            flex-basis: 48%; /* Tamanho padrão das seções em telas maiores */
        }
        
        .section-title {
            text-align: center;
            font-weight: 850;
            margin-bottom: 10px;
            margin-top: 20px;
            font-size: 1.2em;
            color: #000000;
        }
        
        .book-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* 4 colunas em telas maiores */
            gap: 2px;
            max-width: 500px;
        }
        
        .greek {
            grid-template-columns: repeat(3, 1fr); /* 4 colunas também para a seção grega */
            
        }
        
        .book-grid a {
            display: block;
            text-align: left;
            padding: 10px;
            background-color: #d65a00;
            color: white;
            text-decoration: none;
            font-weight: bold;
            border-radius: 0px;
            transition: background-color 0.3s;
        }
        
        .book-grid a:hover {
            background-color: #ac4700;
        }
        
        .book-grid a:active {
            background-color: #2a2a45;
        }
        
        /* Estilos para telas pequenas (como celulares) */
        @media (max-width: 768px) {
            .bible-container {
                flex-direction: column;
                align-items: center;
            }
        
            .section {
                flex-basis: 100%; /* Ocupa toda a largura da tela em dispositivos menores */
            }
        
            .book-grid {
                grid-template-columns: repeat(3, 1fr); /* 4 colunas em telas menores */
            }
        }
        
        
        
        
